/* Importando a fonte Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  padding: 10px 10%;
  background: #2e8b57; /* Verde escuro */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.logo {
  font-size: 32px;
  color: #fff;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.navbar {
  display: flex;
  gap: 20px;
  font-size: 18px;
  font-weight: 500;
  margin-left: 40px;
  font-family: "Poppins", sans-serif;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.navbar a:hover {
  color: #1e90ff; /* Azul claro */
  text-shadow: 0 0 5px rgba(30, 144, 255, 0.7);
}
